.apimenu{
	background-color: #9999ff;
	}
.centerpnl{
	/*background-color: red;*/
	
	background-color: green;
	width: 700px;
	}
.hostbox{
	width: 200px;
	background-color: yellow;
	}
.pathbox{
	width: 500px;
	background-color: yellow;
	}
.headertabs{
	background-color: orange;
	width: 700px;
	
	}
.headerpnl{
	background-color: grey;
/*	margin: auto;*/
		}
.bodypnl{
	background-color: brown;
	/*	margin: auto;*/
		}
.bodytabs{
	background-color: purple;
	width: 700px;
	}
.dockpnl{
	background-color: #ff8080;
	margin: auto;
	}
.toppnl{
	margin: auto;
	background-color: blue;
	 
    }
.rootpnl{
	text-align: center;
	margin: auto;
	background-color: red;
	}

.txtarea{
	
	background-color: yellow;
	width: 700px;
	}
 