.b64dialog{
	text-align: center;
	max-width: 470px;
	background-color: #ff0077;
	
	}
.b64dialogVpnl{
	background-color: #00aaff;
	width:  450px;
	height: 300px;
	
	}
.b64box{

	background-color: #4455dd;
	width: 400px;
	
	}
.b64decoded{
	
	color: red;
	max-width: 450px;	
	
	}
.dialogclosebtn{
	background-color: #004422;
	color: #aaaaff;
	width: 111px;
	}
.gwt-DialogBox .dialogContent { 
background-color: #4455dd;

	}
.apimenu{
	background-color: #9999ff;
	}
.centerpnl{
	
	background-color: green;
	width: 700px;
	}
.hostbox{
	width: 200px;
	background-color: yellow;
	}
.pathbox{
	width: 500px;
	background-color: yellow;
	}
.headertabs{
	background-color: orange;
	width: 700px;
	
	}
.headerpnl{
	background-color: grey;
		}
.bodypnl{
	background-color: brown;
		}
.bodytabs{
	background-color: purple;
	width: 700px;
	}
.dockpnl{
	background-color: #ff8080;
	margin: auto;
	}
.toppnl{
	margin: auto;
	background-color: blue;
	 
    }
.rootpnl{
	text-align: center;
	margin: auto;
	background-color: red;
	}

.txtarea{
	
	background-color: yellow;
	width: 700px;
	}
 